<div class="article_form">
  <h1>New Article</h1>

  <div class="form">
  <!-- @article is the unitialzed article instance made in the controller -->
    <%= form_for(@article) do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :content %>
      <%= f.text_field :content %>
      <%= f.submit %>
    <% end %>
  </div>

    <%= link_to "Back", articles_path %>
</div>
